html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #ececec;
}


.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex-grow: 1;
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.message-wrapper {
  display: flex;
  margin-bottom: 10px;
}
.message-wrapper.user {
  justify-content: flex-end;
}
.message-wrapper.other {
  justify-content: flex-start;
}
